<div class="background">
    <div class="title">
        <h1>SISTEMA DE INGRESOS</h1>
    </div>

    <div class="login-box">
        <div class="logo-section">
            <div class="logo-circle"></div>
            <div class="logo-text">SIS</div>
            <div class="separator"></div>
        </div>

        <div class="form-section">
            <form class="login-form" onsubmit="handleSubmit(event)">
                <input type="text" class="input-field" placeholder="Nombre de usuario:" id="username" required />

                <div class="password-container">
                    <input type="password" class="input-field" placeholder="Contraseña:" id="password" required />
                    <button type="button" class="eye-button" onclick="togglePassword()">
                        <svg class="eye-icon" viewBox="0 0 24 24" id="eye-icon">
                            <path
                                d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" />
                        </svg>
                    </button>
                </div>

                <button class="login-button" type="submit">Entrar</button>
            </form>
        </div>
    </div>

    <p class="redirect-text">
        Serás redirigido a: <span class="highlight">SICAC</span>
    </p>

    <div class="bottom-border-glow">
         <p class="redirect-text">
        Copyright © 2025. Un producto de Ingresos <span class="highlight">SICAC</span>
    </p>
    </div>
</div>