<div class="main-container"  [class.modules-active]="showModulesGrid">
  <!-- <div (mouseenter)="onMouseEnterSidebar()" (mouseleave)="onMouseLeaveSidebar()">
    <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed"></app-sidebar>
  </div> -->

  <div>
    <app-sidebar (menuSelected)="onMenuItemSelected($event)" (logoClicked)="onShowModulesGrid()"></app-sidebar>
  </div>
  <app-header></app-header>
   <div class="content">
    <!-- Mover aquí -->
    <app-opciones *ngIf="selectedSubmenus"
                  [submenus]="selectedSubmenus"
                  [titulo]="menuSeleccionado?.label || ''">
    </app-opciones>

    <!-- <app-dashboard *ngIf="menuSeleccionado?.label === 'Dashboard'"></app-dashboard> -->
    <app-clasificaciones *ngIf="menuSeleccionado?.label === 'Categorías y Catálogos'"></app-clasificaciones>

    <router-outlet *ngIf="!mostrarOpciones"></router-outlet>
  </div>

   <app-opciones-header  *ngIf="showModulesGrid" (moduleSelected)="onModuleSelected($event)" (closeGrid)="onCloseModulesGrid()"></app-opciones-header>

  <!-- <div>
    <app-opciones *ngIf="selectedSubmenus" [submenus]="selectedSubmenus" [titulo]="menuSeleccionado?.label || ''"></app-opciones>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div> -->
</div>