<div class="main-container">
  <!-- <div (mouseenter)="onMouseEnterSidebar()" (mouseleave)="onMouseLeaveSidebar()">
    <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed"></app-sidebar>
  </div> -->

  <div>
    <app-sidebar (menuSelected)="onMenuItemSelected($event)"></app-sidebar>
  </div>
  <app-header></app-header>

  <div>
    <app-opciones *ngIf="selectedSubmenus" [submenus]="selectedSubmenus"></app-opciones>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>