<div class="main-container">
  <!-- <div (mouseenter)="onMouseEnterSidebar()" (mouseleave)="onMouseLeaveSidebar()">
    <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed"></app-sidebar>
  </div> -->

  <div>
    <app-sidebar (menuSelected)="onMenuItemSelected($event)"></app-sidebar>
  </div>
  <app-header></app-header>
   <div class="content">
    <!-- Mover aquí -->
    <app-opciones *ngIf="selectedSubmenus"
                  [submenus]="selectedSubmenus"
                  [titulo]="menuSeleccionado?.label || ''">
    </app-opciones>

    <router-outlet *ngIf="!mostrarOpciones"></router-outlet>
  </div>

  <!-- <div>
    <app-opciones *ngIf="selectedSubmenus" [submenus]="selectedSubmenus" [titulo]="menuSeleccionado?.label || ''"></app-opciones>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div> -->
</div>