.sidebar {
    background-color: #04509b;
    color: #ecf0f1;
    height: 100vh;
    width: 80px;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1000;
    transition: width 0.3s ease;
    overflow-x: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* .sidebar-collapsed {
    width: 75px;
} */

.sidebar-header {
    padding: 0.85rem 1.2rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
}

.sidebar-footer {
    height: 170px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04509b;
    transform: skewY(-0deg);
    transform-origin: top left;
    z-index: 1;
}

.sidebar-footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #0667c9;
    transform: skewY(-20deg);
    transform-origin: bottom right;
    z-index: 2;
}

.text-footer {
    position: relative;
    z-index: 10;
    transform: rotate(90deg);
    color: rgb(221, 244, 253);
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.sidebar-menu {
    padding: 0;
    margin: 0;
}

.sidebar-item:hover {
    background-color: #34495e;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    padding: 0.85rem 1.2rem;
    color: #ecf0f1;
    text-decoration: none;
    transition: background 0.3s ease;
    cursor: pointer;
    min-height: 50px;
}

/* .sidebar-submenu {
    background-color: #336ea8;
    padding-left: 1rem;
}

.sidebar-subitem {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: flex-start;
    min-height: 45px;
}

.sidebar-subitem i {
    margin-right: 0.75rem;
    margin-top: 0.2rem;
    flex-shrink: 0;
}

.sidebar-subitem .sidebar-item-text {
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.2;
    font-size: 0.9rem;
} */

.has-children .sidebar-item-arrow {
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.sidebar-collapsed .sidebar-item-text {
    display: none;
}


.rotated {
    transform: rotate(180deg);
}

.menu-item-active>a {
    background-color: #1abc9c;
}

.custom-icon {
    font-size: 25px;
    margin-left: 5px;
}