<!-- <div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
    <div class="sidebar-header">
        <a>{{
            isSidebarCollapsed ? 'M' : 'MENÚ'
            }}</a>
    </div>
    <div class="sidebar-menu">
        <ul>
            <ng-container *ngFor="let item of menuItems">
                <li class="sidebar-menu-item">
                    <a class="sidebar-item" [ngClass]="{
              'has-children': item.children,
              'menu-item-active': item.isOpen
            }" (click)="toggleMenuItem(item)">
                        <i [class]="item.icon"></i>
                        <span class="sidebar-item-text">{{ item.label }}</span>
                        <i *ngIf="item.children && !isSidebarCollapsed" class="fas fa-chevron-down sidebar-item-arrow"
                            [ngClass]="{ rotated: item.isOpen }"></i>
                    </a>

                    <ul *ngIf="item.children && !isSidebarCollapsed && item.isOpen" class="sidebar-submenu">
                        <li *ngFor="let child of item.children">
                            <a class="sidebar-item sidebar-subitem">
                                <i [class]="child.icon"></i>
                                <span class="sidebar-item-text">{{ child.label }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </div>
</div> -->
<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header" (click)="onLogoClick()">
    <img src="/images/ingresos.png" alt="Logo" class="sidebar-logo" />
    <span class="sidebar-title" *ngIf="!isSidebarCollapsed">Sistema de Ingresos</span>
  </div>

  <div class="sidebar-menu">
    <ul class="menu-level-0">
      <ng-container *ngFor="let item of menuItems; let i = index">
        <li class="sidebar-menu-item" [class.has-children]="item.children && item.children.length > 0">
          <a class="sidebar-item" 
             [class.menu-item-active]="item.isOpen"
             [matTooltip]="isSidebarCollapsed ? item.label : ''" 
             matTooltipPosition="right"
             (click)="onMenuClick(item)">
            <mat-icon class="custom-icon">{{ item.icon }}</mat-icon>
            <span class="sidebar-item-text" *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
            <mat-icon class="sidebar-item-arrow" 
                      *ngIf="item.children && item.children.length > 0 && !isSidebarCollapsed"
                      [class.rotated]="item.isOpen">
              expand_more
            </mat-icon>
          </a>
          <ul class="submenu submenu-level-1" 
              *ngIf="item.children && item.children.length > 0 && item.isOpen && !isSidebarCollapsed"
              [@slideInOut]>
            <li *ngFor="let child1 of item.children" 
                class="sidebar-menu-item" 
                [class.has-children]="child1.children && child1.children.length > 0">
              
              <a class="sidebar-item sidebar-item-level-1" 
                 [class.menu-item-active]="child1.isOpen"
                 (click)="onMenuClick(child1)">
                <mat-icon class="custom-icon custom-icon-small">{{ child1.icon }}</mat-icon>
                <span class="sidebar-item-text">{{ child1.label }}</span>
                <mat-icon class="sidebar-item-arrow" 
                          *ngIf="child1.children && child1.children.length > 0"
                          [class.rotated]="child1.isOpen">
                  expand_more
                </mat-icon>
              </a>
              <ul class="submenu submenu-level-2" 
                  *ngIf="child1.children && child1.children.length > 0 && child1.isOpen"
                  [@slideInOut]>
                <li *ngFor="let child2 of child1.children" 
                    class="sidebar-menu-item" 
                    [class.has-children]="child2.children && child2.children.length > 0">
                  
                  <a class="sidebar-item sidebar-item-level-2" 
                     [class.menu-item-active]="child2.isOpen"
                     (click)="onMenuClick(child2)">
                    <mat-icon class="custom-icon custom-icon-smaller">{{ child2.icon }}</mat-icon>
                    <span class="sidebar-item-text">{{ child2.label }}</span>
                    <mat-icon class="sidebar-item-arrow" 
                              *ngIf="child2.children && child2.children.length > 0"
                              [class.rotated]="child2.isOpen">
                      expand_more
                    </mat-icon>
                  </a>
                  <ul class="submenu submenu-level-3" 
                      *ngIf="child2.children && child2.children.length > 0 && child2.isOpen"
                      [@slideInOut]>
                    <li *ngFor="let child3 of child2.children" 
                        class="sidebar-menu-item" 
                        [class.has-children]="child3.children && child3.children.length > 0">
                      
                      <a class="sidebar-item sidebar-item-level-3" 
                         [class.menu-item-active]="child3.isOpen"
                         (click)="onMenuClick(child3)">
                        <mat-icon class="custom-icon custom-icon-smallest">{{ child3.icon }}</mat-icon>
                        <span class="sidebar-item-text">{{ child3.label }}</span>
                        <mat-icon class="sidebar-item-arrow" 
                                  *ngIf="child3.children && child3.children.length > 0"
                                  [class.rotated]="child3.isOpen">
                          expand_more
                        </mat-icon>
                      </a>
                      <ul class="submenu submenu-level-4" 
                          *ngIf="child3.children && child3.children.length > 0 && child3.isOpen"
                          [@slideInOut]>
                        <li *ngFor="let child4 of child3.children" class="sidebar-menu-item">
                          <a class="sidebar-item sidebar-item-level-4" 
                             (click)="onMenuClick(child4)">
                            <mat-icon class="custom-icon custom-icon-tiny">{{ child4.icon }}</mat-icon>
                            <span class="sidebar-item-text">{{ child4.label }}</span>
                          </a>
                        </li>
                      </ul>

                    </li>
                  </ul>

                </li>
              </ul>

            </li>
          </ul>

        </li>
      </ng-container>
    </ul>
  </div>

  <div class="sidebar-footer">
    <div class="text-footer">SIS</div>
  </div>
</div>

<div class="sidebar-overlay" [class.active]="!isSidebarCollapsed" (click)="onLogoClick()"></div>

<button class="sidebar-toggle" (click)="onLogoClick()">
  <mat-icon>menu</mat-icon>
</button>